/* ------- OVERALL ------- */

* {
  font-family: "Source Code Pro", monospace;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(22, 22, 22);
  color: white;
}

/* ------- NAVBAR ------- */

header nav {
  /* background-color: #000; */
  padding: 10px 0;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Navbar links */
header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  transition: color 0.3s ease;
}

/* Hover effect */
header nav ul li a:hover {
  color: rgb(192, 86, 0);
}

/* ------- MAIN PAGE CONTENT ------- */
main {
  margin: 20px;
  padding: 0 40px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

/* Headings styling */
main h1 {
  font-size: 3.5em;
  font-weight: 300;
  margin-top: 0;
  color: #444;
  margin-bottom: 20px;
}

main h2 {
  font-weight: 200;
}

/* Image styling */
main img {
  display: block;
  width: 150px;
  height: auto;
  border-radius: 12px;
  margin-bottom: 20px;
}

/* Paragraph styling */
main p {
  line-height: 1.8;
  font-size: 1.1em;
  margin-bottom: 20px;
  font-weight: 200;
}

/* Remove default styles for email links */
a[href^="mailto:"] {
  text-decoration: none;
  color: inherit;
}

/* Add hover effect for email link */
a[href^="mailto:"]:hover {
  color: rgb(192, 86, 0);
  text-decoration: underline;
}

.services-list li {
  margin-bottom: 10px;
}

/* ------- MEDIA QUERIES ------- */

/* For devices with a max-width of 768px (tablets and smaller) */
@media screen and (max-width: 768px) {
  /* Adjust the navbar layout */
  header nav ul {
    flex-direction: column;
    align-items: center;
  }

  header nav ul li {
    margin-bottom: 10px;
  }

  /* Adjust the main content */
  main {
    padding: 0 20px;
    margin-top: 60px;
  }

  /* Adjust the image size */
  main img {
    width: 120px;
  }

  /* Adjust the heading font size */
  main h1 {
    font-size: 2.5em;
  }

  /* Adjust the paragraph font size */
  main p {
    font-size: 1em;
  }
}

/* For devices with a max-width of 480px (small phones) */
@media screen and (max-width: 480px) {
  /* Further reduce the navbar item spacing */
  header nav ul li {
    margin-bottom: 5px;
  }

  /* Adjust the main content */
  main {
    padding: 0 10px;
    margin-top: 60px;
  }

  /* Adjust the image size */
  main img {
    width: 100px;
  }

  /* Further reduce heading font size */
  main h1 {
    font-size: 2em;
  }

  /* Further reduce paragraph font size */
  main p {
    font-size: 0.9em;
  }
}
