/* ------- OVERALL ------- */

* {
  font-family: "Source Code Pro", monospace;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(22, 22, 22);
  color: white;
}

/* ------- NAVBAR ------- */

.toggle-button {
  all: unset; /* Resets all inherited styles */
  cursor: pointer; /* Makes it clickable */
  font-size: 24px;
  padding: 16px;
  display: none;
}

.toggle-button:hover {
  color: rgb(192, 86, 0);
  transition: color 0.3s ease;
}

header nav {
  /* background-color: #000; */
  padding: 10px 0;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Navbar links */
header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  font-size: 20px;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: light;
  padding: 10px 15px;
  transition: color 0.3s ease;
}

/* Hover effect */
header nav ul li a:hover {
  color: rgb(192, 86, 0);
}

/* ------- MAIN PAGE CONTENT ------- */
main {
  margin: 20px;
  padding: 0 40px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

/* Headings styling */
main h1 {
  font-size: 4rem;
  font-weight: 300;
  margin-top: 0;
  color: #444;
  margin-bottom: 20px;
}

main h2 {
  font-weight: 200;
}

/* Image styling */
main img {
  display: block;
  width: 150px;
  height: auto;
  border-radius: 12px;
  margin-bottom: 20px;
}

/* Paragraph styling */
main p {
  line-height: 1.8;
  font-size: 1.2rem;
  margin-bottom: 20px;
  font-weight: 200;
}

/* Remove default styles for email links */
a[href^="mailto:"] {
  text-decoration: none;
  color: inherit;
}

/* Add hover effect for email link */
a[href^="mailto:"]:hover {
  color: rgb(192, 86, 0);
  text-decoration: underline;
}

/* Remove default styles for resume links */
#resume-link {
  text-decoration: none;
  color: inherit;
}

/* Add hover effect for resume download link */
#resume-link:hover {
  color: rgb(192, 86, 0);
  text-decoration: underline;
}

.services-list li {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.social-icons {
  font-size: 2rem;
}

.social-icons a {
  color: white;
  text-decoration: none;
}

.social-icons a:hover {
  color: rgb(192, 86, 0);
  transition: color 0.3s ease;
  cursor: pointer;
}

#rss-feed {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.rss-item {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.rss-item a {
  color: white;
  text-decoration: none;
}

.rss-item a:hover {
  color: rgb(192, 86, 0);
  transition: color 0.3s ease;
  cursor: pointer;
}

.rss-item img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.rss-item p {
  margin: 5px 0;
}

.rss-item iframe {
  width: 100%;
  max-width: 560px;
  height: 315px;
  margin-top: 10px;
}

#wordpress-link {
  color: white;
  text-decoration: none;
}

#wordpress-link:hover {
  color: rgb(192, 86, 0);
  transition: color 0.3s ease;
  cursor: pointer;
}

#youtube-link {
  color: white;
  text-decoration: none;
}

#youtube-link:hover {
  color: rgb(192, 86, 0);
  transition: color 0.3s ease;
  cursor: pointer;
}
#obsidian-link {
  color: white;
  text-decoration: none;
  background-color: rgba(163, 156, 156, 0.315); /* or a light tint */
}

#obsidian-link:hover {
  color: rgb(192, 86, 0);
  transition: color 0.3s ease;
  cursor: pointer;
}

/* ------- MEDIA QUERIES ------- */

@media screen and (max-width: 768px) {
  #navbar {
    display: none;
    background-color: #333;
    color: white;
    padding: 1rem;
  }

  #navbar.active {
    display: block;
  }

  .toggle-button {
    display: block;
  }
  /* Adjust the navbar layout */
  header nav ul {
    flex-direction: column;
    align-items: center;
  }

  header nav ul li {
    margin-bottom: 10px;
    font-size: 16px;
  }

  /* Adjust the main content */
  main {
    padding: 0 20px;
    margin-top: 30px;
  }

  /* Adjust the image size */
  main img {
    width: 120px;
  }

  /* Adjust the heading font size */
  main h1 {
    font-size: 2.5em;
  }

  /* Adjust the paragraph font size */
  main p {
    font-size: 1em;
  }

  .services-list li {
    font-size: 1em;
  }

  .social-icons {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 480px) {
  #navbar {
    display: none;
    background-color: #333;
    color: white;
    padding: 1rem;
  }

  #navbar.active {
    display: block;
  }

  .toggle-button {
    display: block;
  }

  header nav ul li {
    margin-bottom: 5px;
    font-size: 16px;
  }

  /* Adjust the main content */
  main {
    padding: 0 10px;
    margin-top: 30px;
  }

  /* Adjust the image size */
  main img {
    width: 100px;
  }

  /* Further reduce heading font size */
  main h1 {
    font-size: 2em;
  }

  /* Further reduce paragraph font size */
  main p {
    font-size: 0.9em;
  }

  .social-icons {
    font-size: 1.3rem;
  }
}
